<div class="card shadow-sm" ng-controller="Scripts.WebsitesController">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">
      Websites
    </h4>
  </div>
  <div class="card-body">
  </div>
</div>
