<form class="form-horizontal">
  <% magicka_form('gnc.data') do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
  <% end %>
</form>

<div ng-controller="Scripts.WebsitesController as swc">
  <% magicka_form('swc.data') do |form| %>
    <%= render partial: 'websites', locals: { form: form } %>
  <% end %>
</div>
