<div>
  <% magicka_display('gnc.data') do |display| %>
    <%= render partial: 'form', locals: { form: display } %>
  <% end %>
</div>

<div ng-controller="Scripts.WebsitesController as swc">
  <% magicka_display('swc.data') do |display| %>
    <%= render partial: 'websites', locals: { form: display } %>
  <% end %>
</div>
